<div class="container-1__sobre-nosotros">
  <div class="container__hijos__sobre-nosotros">
    <a href="#">
      <img 
        src="/public/images/logoOscuroLB.png" 
        alt="" 
        srcset="" 
        class="logo__sobre-nosotros animated bounceInDown delay-0.5s"
      >
    </a>
  </div>
  <!-- Contenedor del texto -->
  <div class="container__hijos__sobre-nosotros">
    <div class="container__sobre-nos">
      <h2 class="font-weight-bolder">
        Contacto
      </h2>
      <!-- Parrafo -->
      <div class="container__p__sobre-nosotros">
        <p>
          <small>
            Para contactarse con los creadores de la página se facilitan los siguientes mails:<br>
            <b>Daira Masci:</b> dairamasci@gmail.com<br>
            <b>Manuel Parra:</b> manuparra7@gmail.com<br><br>

            Información de contacto de la escuela y el docente a cargo de la unidad curricular:<br>
            <b>Esc. Superior Nº 49  "Cap. Gral. J.J. Urquiza" - Nivel Terciario - Rosario - Santa Fe - Argentina:</b><br>
            Página web: https://www.terciariourquiza.edu.ar/<br>
            Teléfonos: (0341) 4721430 - (0341) 4721431 <br>
            Email: info@terciariourquiza.edu.ar<br>
            Dirección: Bv. Oroño 690 - Rosario<br><br>
            
            <b>Gabriela Caliva:</b><br>
            Email: gabycaliva@gmail.com

          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Video de fondo -->
<video autoplay loop poster="/public/images/fondoLogin.png" muted class="video-fondo">
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>