<div class="container-1__vistaE__p">
    <div class="container__vistaE__p">
        <div class="container__controles__p">
            <div class="botones">
                <a href="#"><img src="/public/images/botonNuevo.png"></a>
                <a href="#"><img src="/public/images/botonInteracciones.png"></a>
                <a href="#"><img src="/public/images/botonPopular.png"></a>
                <a href="#"><img src="/public/images/misResenias.png"></a>
                <a href="#"><img src="/public/images/botonCrearNuevo.png"></a>
            </div>
            {{!-- <div class="dropdown__categorias">
                <a class="btn btn-default btn-work dropdown-toggle mt-2.5" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Discusión</a>
                    <a class="dropdown-item" href="#">Memes</a>
                    <a class="dropdown-item" href="#">Descubrir</a>
                </div>
            </div> --}}
            <div class="barra__busqueda">
                <form class="form-inline d-flex justify-content-center md-form form-sm active-pink active-pink-2 mt-2">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control form-control-sm mt-2 ml-3 w-75" type="text" placeholder="Buscar"
                    aria-label="Buscar">
                </form>
            </div>
        </div>
        <div class="container__body__vistaE__p">
            <div class="container__body__entrada">
                <div class="container__entrada__componentes">
                    <div class="titulo__full__entrada">
                        <h4 class="mt-4">mgk, haceme un bepi</h4>
                    </div>
                    <div class="container__cuerpo__imagen">
                        <div class="cuerpo__full__entrada">
                            <p>Un crack, asasd
                                asd
                                asd
                                asd
                            </p>
                        </div>
                        <div class="img__full__entrada">
                            <img src="/public/images/bandaEjemplo1.jpg">
                        </div>
                    </div>
                    <div class="container__mgng my-3">
                        <a href="">
                            <i class="fas fa-thumbs-up text-white fa-lg mr-3"></i>
                        </a>
                        <a href="">
                            <i class="fas fa-thumbs-down text-white fa-lg"></i>
                        </a>
                    </div>
                    <div class="container__stats__full__entrada">
                        <p>Puntuación  |  Creador  |  Rango de Credaor  |  Fecha Creación</p>
                        <a href="" class="ml-4 mr-2 mb-0">
                            <i class="fab fa-font-awesome-flag fa-lg text-white"></i>
                        </a>
                        <a href="" class="mb-0">
                            <i class="fas fa-share-alt fa-lg text-white"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="container__delimiter__comentarios">
                    <h4>Comentarios</h4>
                </div>
                <br>
                <div class="container__lista__comentarios__entradaP">
                    <div class="container__full__comentario__entradaP">
                        <div class="container__info__cuerpo">
                            <div class="container__info">
                                <p>Nombre - Rango - Fecha</p>
                            </div>
                            <div class="container__cuerpo">
                                <p>cuerpo comentario</p>
                            </div>
                        </div>
                        <div class="container__mgng__comentario">
                            <a href="">
                                <i class="fas fa-thumbs-up text-white fa-lg mr-3"></i>
                            </a>
                            <a href="">
                                <i class="fas fa-thumbs-down text-white fa-lg"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="container__nuevo__coment__entradaP">
                    <form>
                        <textarea placeholder="Escribe aquí tu comentario" class="textarea__nuevo__comentario"></textarea>
                        <input type="button" class="btn__coment" id="" value="Comentar">
                    </form>
                    <br>
                    <br>
                </div>
                <br>
                <br>  <br>
                <br>
            </div>
            <div class="container__lista__publicidad">
                <div class="container__publicidad__hijo">
                    <a href="#"><img src="/public/images/publicidad1.png"></a>
                </div>
                <div class="container__publicidad__hijo">
                    <a href="#"><img src="/public/images/publicidad2.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Video de fondo -->
<video
    autoplay
    loop
    poster="/public/images/fondoForo.png"
    muted
    class="video-fondo"
>
<!-- Distintas resoluciones  -->
<source src="/public/media/fondoForo.mp4" type="video/webm" />
<source src="/public/media/fondoForo.mp4" type="video/mp4" />
</video>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>