<div class="container-1__pasarseVip">
  <!-- Contenedor del login -->
  <div class="container__hijos__pasarseVip ml-5">
    <div class="container__pasarse-vip">
      <h2 class="font-weight-bolder">
        ¡Pasate a VIP!
      </h2>

      <!-- Precio -->
      <div class="container__precio__pasarseVip">
        <p>$</p>
        <h1>20</h1>
        <p>.00</p>
      </div>

      <!-- Texto beneficios -->
      <div>
        <small>
          <p class="texto-sin__pasarseVip">Sin límites de reseñas por mes</p>
          <p class="texto-sin__pasarseVip">Sin anuncios</p>
        </small>
      </div>

      <!-- Boton comprar -->
      <button class="btn btn-info btn-blue-grey btn-sm btn-width mt-4 mb-2 comprar_vip" type="submit">
        <a href="#">
          Comprar
        </a>
      </button>
    </div>
  </div>
</div>

<!-- Video de fondo -->
<video
  autoplay
  loop
  poster="/public/images/fondoLogin.png"
  muted
  class="video-fondo"
>
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>