<div class="container-1__perfil">
  <div class="container__perfil">
    <div class="insignia__perfil">
      <img src="/public/images/insigniaConfiable.png" alt="" srcset="" class="img-fluid img__perfil">
    </div>
    <div class="datos__perfil p-3">
      <div class="datos__hijos__perfil mr-3">
        <form class="text-center form__perfil" action="">
          <!-- Nombre de usuario -->
          <input 
            type="text" 
            name="nombre_usuario" 
            id="" 
            class="form-control form-control-sm form-control__perfil mb-2" 
            placeholder="Nombre de usuario"
          >
          <!-- Nombre -->
          <input 
            type="text" 
            name="nombre" 
            id="" 
            class="form-control form-control-sm form-control__perfil mb-2" 
            placeholder="Nombre"
          >
          <!-- Apellido -->
          <input 
            type="text" 
            name="apellido" 
            id="" 
            class="form-control form-control-sm  form-control__perfil mb-2" 
            placeholder="Apellido"
          >
          <!-- Fecha Nac -->
          <input 
            type="date" 
            name="fecha_nac" 
            id="" 
            class="form-control form-control-sm form-control__perfil mb-2" 
            placeholder="Fecha de nacimiento"
          >
          <!-- email -->
          <input 
            type="email" 
            name="email" 
            id="" 
            class="form-control form-control-sm form-control__perfil mb-2" 
            placeholder="Email"
          >
          <!-- Contraseña -->
          <input 
            type="password" 
            name="contrasenia" 
            id="" 
            class="form-control form-control-sm form-control__perfil mb-4" 
            placeholder="Contraseña"
          >
          <!-- Boton guardar -->
          <button 
            class="btn btn-info btn-blue-grey btn-sm mt-4" 
            type="submit"
          >
            Guardar
          </button>
        </form>
      </div>
      <div class="datos__hijos__perfil ml-3 mt-4">
        <img 
          src="/public/images/phPerfil.png" 
          alt="" 
          srcset="" 
          class="img-fluid rounded d-block perf__perfil"
        >
        <a class="btn-floating btn-sm btn-secondary btn-circle boton__perfil">
          <i class="fas fa-pen"></i>
        </a>
        <div class="info-user__perfil">
          <h4>Informacion de usuario</h4>
          <small class="p__perfil">
            <p class="p__perfil">Rango:</p>
            <p class="p__perfil">Puntuacion:</p>
            <p class="p__perfil">Cantidad de reseñas:</p>
          </small>
        </div>
        <button class="btn btn-info btn-blue-grey btn-sm my-3 " type="button">
          <a class="a__perfil" href="">
            Cerrar Sesion
          </a>
        </button>
      </div>
    </div>
  </div>
  <div class="eliminar-cuenta__perfil">
    <a class="a__perfil" href="#"><small>Eliminar cuenta</small></a>
  </div>
</div>

<!-- Video de fondo -->
<video
  autoplay
  loop
  poster="/public/images/fondoLogin.png"
  muted
  class="video-fondo"
>
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>