<div class="container-1__sobre-nosotros">
  <div class="container__hijos__sobre-nosotros">
    <a href="#">
      <img 
        src="/public/images/logoOscuroLB.png" 
        alt="" 
        srcset="" 
        class="logo__sobre-nosotros animated bounceInDown delay-0.5s"
      >
    </a>
  </div>
  <!-- Contenedor del texto -->
  <div class="container__hijos__sobre-nosotros">
    <div class="container__sobre-nos">
      <h2 class="font-weight-bolder">
        Políticas de privacidad
      </h2>
      <!-- Parrafo -->
      <div class="container__p__sobre-nosotros">
        <p>
          <small>
            El Usuario que utilice el sitio web podrá proporcionar algunos datos personales a efectos 
            de mantenerse en contacto y recibir información respecto de servicios que se pongan a disposición 
            de la persona en relación a los servicios utilizados. <br>

            Los alumnos <b>Daira Masci</b> y <b>Manuel Parra</b> y la <b>Esc. Superior Nº 49  "Cap. Gral. J.J. Urquiza", 
            Nivel Terciario</b>, con domicilio en Bv. Oroño 690 - Rosario, Santa Fe, Argentina, son los responsables 
            de las Bases de Datos a las que se incorporarán los datos personales suministrados. Las mismas han 
            sido debidamente registradas ante la Dirección Nacional de Protección de Datos Personales en los 
            términos de la <b>Ley de Protección de Datos Personales, Nº 25.326.</b> <br><br>

            El Administrador se ocupa de que el Usuario cuente con la información veraz y necesaria para decidir 
            de forma expresa, libre y voluntaria si desea brindar sus datos personales, informando a tal efecto 
            las consecuencias de hacerlo, de la negativa y de la inexactitud de los mismos.<br><br>

            En ningún caso proporcionar los datos personales es condición para el uso del sitio web y sus 
            servicios vinculados. No obstante, si el Usuario decide voluntariamente proporcionar sus datos 
            personales debe brindar datos veraces, exactos y completos. La inexactitud de los mismos puede suponer
            dificultades para establecer un vínculo directo con el Administrador. <br><br>

            El titular de los datos personales podrá solicitar la actualización, rectificación y, cuando corresponda, 
            la supresión o el sometimiento a confidencialidad de los datos personales provistos, pudiendo acceder en 
            forma gratuita, a intervalos no inferiores a seis meses, a la Base de datos habilitada, la cual se 
            encuentra debidamente inscripta en los términos de la Ley de Protección de Datos Personales, Nº 25.326, 
            y sus normas complementarias, salvo que se acredite un interés legítimo a tal fin, conforme lo establecido
            en el artículo 14, inciso 3 de la Ley N° 25.326. <br><br>

            El responsable de la Base de Datos declara que adopta las medidas técnicas y organizativas que resulten 
            necesarias para garantizar la seguridad y confidencialidad de los datos personales de modo de evitar su 
            adulteración, pérdida, consulta o tratamiento no autorizado y que permitan detectar desviaciones de 
            información. <br><br>

          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Video de fondo -->
<video autoplay loop poster="/public/images/fondoLogin.png" muted class="video-fondo">
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>