<div class="container-1__sobre-nosotros">
  <div class="container__hijos__sobre-nosotros">
    <a href="#">
      <img 
        src="/public/images/logoOscuroLB.png" 
        alt="" 
        srcset="" 
        class="logo__sobre-nosotros animated bounceInDown delay-0.5s"
      >
    </a>
  </div>
  <!-- Contenedor del texto -->
  <div class="container__hijos__sobre-nosotros">
    <div class="container__sobre-nos">
      <h2 class="font-weight-bolder">
        Sobre nosotros:
      </h2>
      <!-- Parrafo -->
      <div class="container__p__sobre-nosotros">
        <p>
          <small>
            Este sitio fue creado por los alumnos Daira Masci y Manuel Parra de la Escuela Superior Nº 49  "Cap. Gral. J.J. Urquiza" - Nivel Terciario - de la ciudad de Rosario, provincia de Santa Fe, Argentina. <br>
            Ha sido desarrollado con el objetivo de cumplir con el proyecto solicitado por la unidad curricular Práctica Profesionalizante II, perteneciente a la carrera Técnico Superior en Desarrollo de Software de 3er año, cuyas clases son brindadas por la profesora Gabriela Caliva.
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Video de fondo -->
<video autoplay loop poster="/public/images/fondoLogin.png" muted class="video-fondo">
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>