<div class="container-1__sobre-nosotros">
  <div class="container__hijos__sobre-nosotros">
    <a href="#">
      <img 
        src="/public/images/logoOscuroLB.png" 
        alt="" 
        srcset="" 
        class="logo__sobre-nosotros animated bounceInDown delay-0.5s"
      >
    </a>
  </div>
  <!-- Contenedor del texto -->
  <div class="container__hijos__sobre-nosotros">
    <div class="container__sobre-nos">
      <h2 class="font-weight-bolder">
        Términos y condiciones
      </h2>
      <!-- Parrafo -->
      <div class="container__p__sobre-nosotros">
        <p>
          <small>
            El Administrador se reserva el derecho de modificar estos Términos y 
            Condiciones en cualquier momento, comprometiéndose a anunciarlo por medio de un aviso enviado
            vía mail, con el cuál se ha creado cada usuario. <br><br>

            Datos recolectados o provistos por terceros:<br>
            Google Analytics<br><br>

            El Administrador recolecta información estadística anónima para la evaluación y mejora del servicio 
            a través de un servicio de terceros (Google Analytics).<br>
            El Administrador utiliza cookies para almacenar parte de esta información en el dispositivo del Usuario.<br>
            En el siguiente enlace puede consultar los Términos de Uso de Google Analytics: 
            http://www.google.com/analytics/terms/us.html.<br>
            Muchos de los servicios puestos a disposición permiten que los Usuarios compartan información entre sí. 
            A su vez, el Usuario puede vincular su cuenta en el sistema de identificación único con sus perfiles en redes sociales.<br><br>

            El Administrador no controla ni es responsable por accionar de otros sitios web y otros productos y servicios 
            a los cuales se puede acceder por medio de <b>Music Review</b>, por lo que recomendamos la lectura de la Política 
            de Privacidad de cada uno de ellos.<br><br>

            En relación con esta Política de Privacidad rigen las disposiciones de la Ley Nº 25.326 de Protección de Datos Personales 
            y sus normas complementarias y demás normativa de la República Argentina.<br>

          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Video de fondo -->
<video autoplay loop poster="/public/images/fondoLogin.png" muted class="video-fondo">
  <!-- Distintas resoluciones  -->
  <source src="/public/media/fondoLoginSignin.mp4" type="video/webm" />
  <source src="/public/media/fondoLoginSignin.mp4" type="video/mp4" />
</video>