<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Music Review</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- Hojas de estilos -->
  <link rel="stylesheet" href="/public/css/crearCuenta.css">
  <link rel="stylesheet" href="/public/css/footer.css">
  <link rel="stylesheet" href="/public/css/navbar.css">
  <link rel="stylesheet" href="/public/css/index.css">
  <link rel="stylesheet" href="/public/css/perfil.css">
  <link rel="stylesheet" href="/public/css/loginWeb.css">
  {{!-- <link rel="stylesheet" href="/public/css/loginModal.css"> --}}
  <link rel="stylesheet" href="/public/css/nuevaResenia.css">
  <link rel="stylesheet" href="/public/css/pasarseVip.css">
  <link rel="stylesheet" href="/public/css/sobreNosotros.css">
  <link rel="stylesheet" href="/public/css/resenias.css">
  <link rel="stylesheet" href="/public/css/mensajes.css">
  <link rel="stylesheet" href="/public/css/ver-resenia.css">
  <link rel="stylesheet" href="/public/css/homeForo.css">
  <link rel="stylesheet" href="/public/css/entrada.css">
  <link rel="stylesheet" href="/public/css/nuevaEntrada.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-dark colorNegro scrolling-navbar fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <img src="../public/images/logoOscuro2.png" alt="Logo Music Review" srcset="" class="navbar-brand logoNavbar">
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resenias">Reseñas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/homeForo">Foro</a>
          </li>
        </ul>
        {{#if user}}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link colorNaranja" href="/pasarseVip" tabindex="-1" aria-disabled="true">Pasarse a VIP</a>
          </li>
        </ul>
        {{/if}}
        <ul class="navbar-nav my-2 my-lg-0">
          {{#if user}}
            <li class="nav-item">
              <a class="nav-link" href="/perfil">Perfil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cerrarSesion">Cerrar sesión</a>
          {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/crearCuenta">Crear cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/loginWeb">Iniciar sesión</a>
            </li>
          
            </li>
          {{/if}}
        </ul>

      </div>
    </div> <!-- container -->
  </nav>
  {{> mensajeExito}}
  {{> mensajeError}}
  {{{ body }}}

  <footer class="bgNegro__footer text-white py-4">
    <div class="container">
      <nav class="row">
        <a href="#" class="col-3 text-reset text-uppercase d-flex align-items-center">
          <img src="../public/images/logoOscuro.png" alt="Logo Music Review" srcset="" class="logoMusicReview__footer" href="#" >
        </a>
        <ul class="col-2 list-unstyled mt-3 mr-auto">
          <li><a href="/" class="text-reset textFooter__footer">Home</a></li>
          <li><a href="/nuevaResenia" class="text-reset textFooter__footer">Reseñas</a></li>
          <li><a href="/" class="text-reset textFooter__footer">Foro</a></li>          
          {{#if user}}
            <li><a href="/pasarseVip" class="text-reset textFooter__footer colorNaranja__footer">Pasate a VIP!</a></li>
          {{/if}}
        </ul>
        <ul class="col-3 list-unstyled mt-3 mr-auto">
          <li><a href="/sobreNosotros" class="text-reset textFooter__footer">Sobre nosotros</a></li>
          <li><a href="/terminos-y-condiciones" class="text-reset textFooter__footer">Términos y condiciones</a></li>
          <li><a href="/politicas-de-privacidad" class="text-reset textFooter__footer">Políticas de privacidad</a></li>
          <li><a href="/contacto" class="text-reset textFooter__footer">Contacto</a></li>
        </ul>
        <a href="https://www.terciariourquiza.edu.ar/" class="col-2 text-reset text-uppercase d-flex align-items-center">
          <img src="../public/images/logoUrquiza.png" alt="Logo Terciario Urquiza" srcset="" class="logoEscuelaUrquiza__footer" href="#" >
        </a>
        <ul class="col-2 list-unstyled mt-4 mr-auto">
          <li class="text-reset textFooter__footer">35 reseñas</li>
          <li class="text-reset textFooter__footer">10 entradas en foro</li>
          <li class="text-reset textFooter__footer">4 usuarios</li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <hr class="hrFooter__footer" >
      <center><span class="textFooter__footer">© 2020 Music Review. Todos los derechos reservados.</span></center>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <script type="text/javascript" src="/public/js/crearCuenta.js"></script>
  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>

</html>